<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5" style="margin-bottom: 425px">
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">Cart Page</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success alert alert-success text-center"
							role="alert">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage}"></th:block>
					</th:block>
					<th:block th:if="${session.errorMsg}">
						<p class="text-danger alert alert-danger text-center" role="alert">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<th:block th:if="${carts.size()>0}">

						<table class="table">
							<thead>
								<tr>
									<th scope="col">Sl No</th>
									<th scope="col">Image</th>
									<th scope="col">Product Name</th>
									<th scope="col">Price</th>
									<th scope="col" class="text-center">Quantity</th>
									<th scope="col">Total Price</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cart,c:${carts}">
									<th scope="row">[[${c.count}]]</th>
									<td><img
										th:src="@{'/img/product_img/'+${cart.product.image}}"
										width="70px" height="70px"></td>
									<td>[[${cart.product.title}]]</td>
									<td>[[${cart.product.discountPrice}]]</td>
									<td class="text-center"><a
										th:href="@{'/user/cartQuantityUpdate?sy=de&cid=' + ${cart.id}}">
											<i class="fa-solid fa-minus me-1"></i>
									</a> [ [[${cart.quantity}]] ] <span
										th:if="${cart.quantity == cart.product.stock}"> <i
											class="ms-1 fa-solid fa-plus text-muted"
											style="cursor: not-allowed;"></i>
									</span> <a th:if="${cart.quantity < cart.product.stock}"
										th:href="@{'/user/cartQuantityUpdate?sy=in&cid=' + ${cart.id}}">
											<i class="ms-1 fa-solid fa-plus"></i>
									</a></td>
									<td>[[${cart.totalPrice}]]</td>
								</tr>
								<tr>
									<td colspan="4"></td>
									<td class="fw-bold">Total Price</td>
									<td class="fw-bold">&#8377; [[${totalOrderPrice}]]</td>
								</tr>

							</tbody>
						</table>

						<div class="text-center">
							<a href="/user/orders" class="btn btn-warning"> Proceed
								Payment</a>
						</div>
					</th:block>
					<th:block th:if="${carts.size()<=0}">
						<p class="text-center text-danger fs-2">Cart is empty</p>
					</th:block>
				</div>
			</div>
		</div>
	</section>
</body>
</html>