<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5" style="margin-bottom: 425px">
			<a href="/admin/" class="text-decoration-none mb-1"><i
				class="fa-solid fa-arrow-left-long me-1"></i>Back</a>
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">View product</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success alert alert-success text-center"
							role="alert">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage}"></th:block>
					</th:block>
					<th:block th:if="${session.errorMsg}">
						<p class="text-danger alert alert-danger text-center" role="alert">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<div class="col-md-4 p-4">
						<form action="/admin/search-product" method="get">
							<div class="row">
								<div class="col">
									<input type="text" class="form-control" name="ch"
										placeholder="Enter title or category">
								</div>
								<div class="col">
									<button class="btn btn-primary col">Search</button>
								</div>
							</div>
						</form>
					</div>
					<th:block th:unless="${productsSize>0}">
						<p class="fs-3 text-danger text-center">Empty</p>
					</th:block>
					<th:block th:if="${productsSize>0}">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Sl No</th>
									<th scope="col">Image</th>
									<th scope="col">Title</th>
									<th scope="col">Category</th>
									<th scope="col">Price</th>
									<th scope="col">Discount</th>
									<th scope="col">Discount Price</th>
									<th scope="col">Stock</th>
									<th scope="col">Status</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="p,c:${products}">
									<th scope="row">[[${c.count}]]</th>
									<td><img th:src="@{'/img/product_img/'+${p.image}}"
										width="70px" height="70px"></td>
									<td>[[${p.title}]]</td>
									<td>[[${p.category}]]</td>
									<td>[[${p.price}]]</td>
									<td>[[${p.discount}]]</td>
									<td>[[${p.discountPrice}]]</td>
									<td>[[${p.stock}]]</td>
									<td>[[${p.isActive}]]</td>
									<td><a th:href="@{'/admin/editProduct/'+${p.id}}"
										class="btn btn-primary btn-sm"><i
											class="fa-solid fa-pen-to-square me-1"></i>Edit</a> <a
										th:href="@{'/admin/deleteProduct/'+${p.id}}"
										class="btn btn-danger btn-sm"><i
											class="fa-solid fa-trash me-1"></i>Delete</a></td>
								</tr>
							</tbody>
						</table>
						<th:block th:if="${productsSize>0}">
								<div class="row">
									<div class="col-md-4">Total Product :
										[[${totalElements}]]</div>
									<div class="col-md-6">
										<nav aria-label="Page navigation example">
											<ul class="pagination">
												<li class="page-item"><a class="page-link"
													th:classappend="${isFirst} ? 'disabled' : ''"
													th:href="@{'/admin/products?pageNo=' + ${pageNo - 1}}"
													aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
												</a></li>
												<li th:each="i:${#numbers.sequence(1,totalPages)}"
													class="page-item"><a class="page-link"
													th:classappend="${pageNo+1==i}?'active':''"
													th:href="@{'/admin/products?pageNo=' + ${i - 1}}">[[${i}]]</a></li>

												<li class="page-item"><a class="page-link"
													th:classappend="${isLast} ? 'disabled' : ''"
													th:href="@{'/admin/products?pageNo=' + ${pageNo + 1}}"
													aria-label="Next"> <span aria-hidden="true">&raquo;</span>
												</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</th:block>
					</th:block>

				</div>
			</div>
		</div>
	</section>
</body>
</html>